
body{
  font-family: 'Rosario', sans-serif;
}
.logoimg{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.allproduct{
  flex-direction:column ;
  display: flex;
  font-size: 22px;
  align-items: center;
  /* margin-top: 20px; */
  margin-bottom: 20px;
}
.contact{
  font-size: 22px;
  display: flex;
}
.item {
  background: #abc;
  padding: 5px;
  text-align: center;
  font-size: 2rem;
  margin: 5px;
}
.dugestivimg{
  width: 280px;
}
.item img {
  height: 400px;
}
.product-detail{
  margin-left: 20px;
  margin-right: 20px;
}

.img{
    background-color: rgba(255, 255, 255, 0.973);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 12px;
padding-bottom: 12px;
}
.btn{
  width: 100%;
}

.product-detail h4{
    font-size: 22px;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.product-detail p{
    font-size: 22px;
    margin-bottom: 8px;
}
.logo-l{
  border: solid 1px #ddd ;
  /* border-top: 1px solid #000000 */
}
.desire-female{
  padding-top: 0px;
}
.product{
  margin-bottom: 50px;
}

.footer{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contactimg{
  width: auto;
  height: 30px;
}

.carousels{
  margin-top:20px ;
}

hr{
  margin: 0;
}
ul {
  padding: 0px;
  list-style: none;
}

.detail h2 {
  font-size: 22px;
}
.detail{
  padding: 8px;
  /* margin-top: 50px; */
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  /* box-shadow: 4.0px 8.0px 8.0px hsla(0, 0%, 0%, 0.15); */
  /* border-top: solid #0000001a 1px; */
/* border-left: solid #0000001a 1px */
}


@media screen and (max-width:400px) {
  .contact h4{
    font-size: 16px;
    display: flex;
  }
  .detail h2 {
    font-size: 16px;
  }
  .contactimg{
    width: auto;
    height: 23px;
}
  }
  
  .carousels{
    margin-top:10px ;
  }
  .product-detail h4{
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 5px;
}
  .detail{
    margin-top: 12px;
    /* padding: 4px; */
  }
  .product-detail p{
    font-size: 16px;
    margin-bottom: 8px;
}






/* @media screen and(max-width:300px) {
  .detail h2 {
    font-size: 22px;
  }
  .ingredient{
    font-size:8px;
  }
  .product-detail{
    margin-left: 20px;
    margin-right: 20px;
  }
  .productName{
    font-size: 12px;
  }


@media screen and (max-width: 480px) {
  .btn {
    width: 100%; 
     font-size: 8px;
   }
  /* .ingredient{
    font-size:8px;
  }
  .detail ul h2{
    font-size: 8px;
  }
 .product-detail p{
  font-size: 12px;
  margin-bottom: 4px;
 } */
  .item img {
    height: 400px;
  }
  /* .owl-item active{
    width: 400px;
  }
  
  /* h4 {
    font-size: 10px;
  }
  p{
    font-size: 10px;
  } */
   */

/* @media screen and (max-width: 600px) {
  .item img {
    height: 200px;
  }
  .owl-item active{
    width: 200px;
  }
}
@media screen and (max-width: 800px) {
  .item img {
    height: 200px;
  }
  
}
@media screen and (max-width: 1000px) {
  .item img {
    height: 200px;
  }
} */ */